.fecha {
  display: block;
  float: left;
  margin-left: -220px;
  width: 200px;
  color: #999;
  text-align: right;
}

.vevent {
  padding-left: 200px;
  display: block;
  padding: 15px 0 0 200px;
}

.summary {
  font-size: 18px;
  font-weight: bold;
  display: block;
}

.degree {
  font-size: 16px;
  font-weight: bold;
  display: block;
}

ul li {
  list-style-type: none;
}

.vcard! {}

.tags h4 {
  display: inline;
}

.foto {
  box-shadow: 0 0 40px -10px white;
  margin: 20px auto;
  width: 150px;
  display: block;
}

.vcard {
  small {
    color: black;
    display: block;
    font-size: 80%;
    font-family: arial;
  }
  a {
    color: #fff;
  }
}

#interests div {
  margin-left: 2em;
}

.nav-container {
  margin-bottom: 2em;
  width: 100%;
  margin-right: -2em;
}

nav {
  z-index: 42;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 960px;
  padding: 0.5em 1em 0.5em;
  margin: auto;
  /*88, 97, 67, 0.5)*/
  background: rgba(228, 77, 38, 0.5);
  filter: alpha(opacity = 80);
  /* IE6-IE8 */
  position: relative;
  border-top-right-radius: 1em 0.5em;
  border-bottom-right-radius: 1em 0.5em;
  li {
    display: inline;
    list-style: none;
    a {
      text-decoration: none;
      color: #ffffff !important;
      font-weight: bold;
      display: inline-block;
      width: 6em;
      text-align: center;
      padding: .2em 0.5em;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px;
      &:hover, &.selected {
        color: #fff;
        /*background: #40bfe8;*/
        background: #f16529;
      }
    }
  }
}

/*clearfix*/

.wrapper {
  &:before, &:after {
    content: '';
    display: block;
    overflow: hidden;
    visibility: hidden;
    width: 0;
    height: 0;
    clear: both;
    zoom: 1;
  }
}

.sticky {
  position: fixed;
  top: 15px;
  animation: thedrop 1s 1;
  -moz-animation: thedrop 1s 1;
  -webkit-animation: thedrop 1s 1;
}